@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$padding_content: 15%;
$border_color: #E4E4E7;
$border_line: 2px solid $border_color;
$header_footer_height: 6vh;
$color_dark_grey: #484848;
$color_light_grey: #95959C;
$color_meduim_grey: #787880;

body {
    font-family: 'Inter', sans-serif;
    color: $color_dark_grey;
}

.landing-page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: $header_footer_height;
    padding-right: $padding_content;
    padding-left: $padding_content;
    border-bottom: $border_line;

    display: flex;
    align-items: center;

    color: $color_dark_grey;
    font-weight: 700;
    font-size: 18px;
}

.footer {
    height: $header_footer_height;
    padding-right: $padding_content;
    padding-left: $padding_content;
    border-top: $border_line; 

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: $color_light_grey;
    font-size: 12px;
}

.clickable:hover {
    cursor: pointer;
}

.bottom_group {
    display: flex;
    color: $color_light_grey;
}
.bottom_group:hover {
    color: $color_light_grey;
}

.bottom_group img {
    width: 16px; 
    height: 16px;
    margin-right: 3px;
}

.eula {
    margin-right: 30px;
}

.content {
    padding-right: $padding_content;
    padding-left: $padding_content;
    text-align: center;
}

.sub_Title {
    color: $color_meduim_grey;
}

.qr {
    width: 30vh; 
    height: 30vh;
    border-radius: 3vh;
    border: $border_line;
}

.app_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 120px;
    height: 35px;
    background: black;
    color: white;
    margin: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.button:hover {
    cursor: pointer;
    color: white;
}

.button img {
    width: 20px;
    height: 20px;
    padding: 0 10px;
}

@media (max-width: 768px) { 
    .header {
        justify-content: center;
        align-items: flex-end;
        height: 12vh;
        padding-bottom: 1vh;
    }

    .button {
        width: 130px;
        height: 45px;
    }

    .content {
        padding-right: 10%;
        padding-left: 10%;
    }

    .footer {
        flex-direction: column;
        justify-content: space-evenly;
    }
}